{% extends "index.html" %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Contact</title>

  <link href="http://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">

  <!-- Template CSS -->
  <link rel="stylesheet" href="/static/assets/css/style-starter.css">
</head>
{% block content %}
<body>
<!-- Header -->
<br>
<br>
<div class="container" align="center">
  <div class="card" style="height:100%;width:800px">
    <div class="card-body">
      <h3 class="card-title" align="left">Contact us</h3><br>
        <h5 align="left">Email : <img src="/static/assets/images/Email.jpg"></h5><br>
        <h5 align="left">College : <a href="http://lst.hzau.edu.cn/"> College of Life Sciences and Technology </a></h5><br>
        <h5 align="left">Hubei Hongshan Laboratory, College of Biomedicine and Health, Huazhong Agricultural University, Wuhan 430070, PR China</h5><br>
        <h5 align="left">Hubei Key Laboratory of Agricultural Bioinformatics, College of Life Science and Technology, Huazhong Agricultural University, Wuhan 430070, PR China</h5><br>
        <h5 align="left"> Contact and join us </h5>
    </div>
  </div>
</div>
</body><br>
<footer class="pt-5 my-5 text-muted border-top">
    <div align="center">
         <p>Copyright ©Chen Lab, College of Life Science and Technology , HZAU, China.</p>
         <p>Any comments and suggestions, please contact us</p>
         <p>鄂ICP备19017097号</p>
    </div>
</footer>
{% endblock %}
</html>